*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Titillium Web, sans-serif;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  height: 4.84vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.logo-container {
  width: 70%;
  z-index: 5;
}

.logo-container .logo {
  width: 12.55vw;
  height: auto;
  margin-left: 2.34vw;
}

.logo-container .logo img {
  width: 100%;
  height: auto;
}

.social-icons {
  width: 18%;
  z-index: 5;
}

.social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.04vw;
  margin-top: 1.2vw;
  float: right;
}

.social-icons i {
  color: #000000;
  margin-left: 1.83vw;
}

.social-icons i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #635454;
}

.box {
  z-index: 3000;
  margin-left: 93vw;
  border-radius: 3px;
  position: absolute;
  width: 2.8vw;
  height: 2.8vw;
  background: #000000;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.box .btn11 {
  position: absolute;
  width: 2.8vw;
  height: 2.8vw;
  cursor: pointer;
}

.box .btn11 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 50%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 1.8px;
  background: #ffffff;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  margin-top: .68vw;
}

.box .btn11 span + span {
  margin-top: 8px;
}

.box:hover {
  width: 0vw;
}

.box:hover .btn11 span {
  background: #000000;
}

.active span:nth-child(1) {
  -webkit-animation: ease .7s top forwards;
          animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
  -webkit-animation: ease .7s top-2 forwards;
          animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
  -webkit-animation: ease .7s scaled forwards;
          animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
  -webkit-animation: ease .7s scaled-2 forwards;
          animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
  -webkit-animation: ease .7s bottom forwards;
          animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
  -webkit-animation: ease .7s bottom-2 forwards;
          animation: ease .7s bottom-2 forwards;
}

@-webkit-keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 11px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 11px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 11px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 11px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes top-2 {
  0% {
    top: 11px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 11px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes top-2 {
  0% {
    top: 11px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 11px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes bottom {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 9px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 9px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 9px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 9px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes bottom-2 {
  0% {
    bottom: 9px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 9px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 9px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 9px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background: #000000;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  -webkit-transition: all 650ms cubic-bezier(1, 0, 0, 1);
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list li {
  margin: .2vw;
  text-align: center;
}

.nav-link {
  font-family: Titillium Web, sans-serif;
  font-size: 2.95vw;
  font-size: 1.5vw;
  font-weight: 600;
  color: #ffffff;
}

.nav-link:hover,
.nav-link:focus {
  background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
  background: linear-gradient(to right, #d49e1f, #534215);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.featured-blogs {
  width: 83%;
  height: 50vw;
  margin: auto;
  font-family: Titillium Web, sans-serif;
}

.featured-blogs h1 {
  margin-top: 9vw;
  font-size: 3.13vw;
  font-weight: 600;
}

.featured-blogs .featured-blogs-descrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7vw;
}

.featured-blogs .featured-blogs-descrip .f-blog-img {
  width: 49vw;
  height: 32.71vw;
  border-radius: 1.5vw;
}

.featured-blogs .featured-blogs-descrip .f-blog-img img {
  width: 100%;
  height: auto;
  border-radius: 1.5vw;
}

.featured-blogs .featured-blogs-descrip .f-blog-content {
  margin-left: 5.52vw;
  width: 34vw;
}

.featured-blogs .featured-blogs-descrip .f-blog-content .buttn {
  margin-top: 4.64vw;
  height: 3.54vw;
  width: 15.8vw;
  background-color: #f0f0f0;
  border-radius: 0.26vw;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.featured-blogs .featured-blogs-descrip .f-blog-content .buttn .black-button {
  border: none;
  height: 3.54vw;
  width: 15.8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9vw;
  letter-spacing: 3.44px;
  border-radius: 0.26vw;
  font-weight: 600;
  color: #000000;
}

.featured-blogs .featured-blogs-descrip .f-blog-content .buttn:hover {
  height: 3.54vw;
  width: 0;
}

.featured-blogs .featured-blogs-descrip .f-blog-content .buttn:hover .black-button {
  color: #000000;
}

.featured-blogs .featured-blogs-descrip .f-blog-content .buttn:hover .black-button::after {
  content: '\f105';
  font-family: fontAwesome;
  font-size: .9vw;
  font-weight: 300;
  padding-left: .6vw;
  color: #000000;
}

.featured-blogs .featured-blogs-descrip .f-blog-content h2 {
  font-size: 2.6vw;
  font-weight: 600;
  line-height: 1.22;
  margin-top: 2.45vw;
}

.featured-blogs .featured-blogs-descrip .f-blog-content p {
  width: 80%;
  margin-top: 2.55vw;
  font-size: 1.04vw;
  font-weight: 300;
}

.featured-blogs .featured-blogs-descrip .f-blog-content .btn1 {
  -webkit-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

.featured-blogs .featured-blogs-descrip .f-blog-content .btn1 p {
  font-size: .9vw;
  font-weight: 600;
  letter-spacing: .25vw;
  background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
  background: linear-gradient(to right, #d49e1f, #534215);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.featured-blogs .featured-blogs-descrip .f-blog-content .btn1 p::after {
  content: '\f105';
  font-family: fontAwesome;
  font-size: .9vw;
  font-weight: 300;
  padding-left: .6vw;
}

.blogsss {
  width: 72%;
  margin: auto;
  font-family: Titillium Web, sans-serif;
}

.blogsss .blogsss-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogsss .blogsss-title p:nth-child(1) {
  font-size: 3.13vw;
  font-weight: 600;
}

.blogsss .blogsss-title p span {
  font-size: 1.04vw;
  font-weight: 300;
}

.blogsss .blogsss-title p span::after {
  content: '\f107';
  font-family: fontAwesome;
  font-size: 1.04vw;
  font-weight: 300;
  padding-left: .6vw;
}

.blogsss .blogsss-buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2.34vw;
}

.blogsss .blogsss-buttons .blogsss-buttn {
  border: none;
  width: 15.83vw;
  height: 3.54vw;
  margin-right: 2.81vw;
  font-size: .94vw;
  font-weight: 600;
  border-radius: 5px;
  color: #bababa;
  background-color: #f0f0f0;
}

.blogsss .blogsss-buttons .active {
  border: solid 1px #bababa;
  font-weight: 600;
  color: #000000;
  background-color: #ffffff;
}

.blogsss .blog-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3.91vw;
}

.blogsss .blog-cards .card {
  width: 32.86vw;
  height: 25vw;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
  border-radius: .52vw;
  margin-bottom: 7.24vw;
}

.blogsss .blog-cards .card .card-img {
  width: 100%;
  height: 11.41vw;
  border-radius: .52vw;
}

.blogsss .blog-cards .card .card-img img {
  width: 100%;
  height: auto;
  border-radius: .52vw .52vw 0 0;
}

.blogsss .blog-cards .card .card-descrip {
  width: 25.56vw;
  margin: auto;
}

.blogsss .blog-cards .card .card-descrip h3 {
  margin-top: 2.55vw;
  font-size: 1.3vw;
  font-weight: 600;
}

.blogsss .blog-cards .card .card-descrip p {
  font-size: 1.04vw;
  font-weight: 300;
  margin-top: 1.67vw;
}

.blogsss .blog-cards .card .card-descrip .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogsss .blog-cards .card .card-descrip .btn .btn1 {
  -webkit-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

.blogsss .blog-cards .card .card-descrip .btn .btn1 p {
  font-size: .9vw;
  font-weight: 600;
  letter-spacing: .25vw;
  background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
  background: linear-gradient(to right, #d49e1f, #534215);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blogsss .blog-cards .card .card-descrip .btn .btn1 p::after {
  content: '\f105';
  font-family: fontAwesome;
  font-size: .9vw;
  font-weight: 300;
  padding-left: .6vw;
}

.blogsss .btn {
  margin-bottom: 7.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogsss .btn .btn1 {
  -webkit-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

.blogsss .btn .btn1 p {
  font-size: .9vw;
  font-weight: 600;
  letter-spacing: .25vw;
  background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
  background: linear-gradient(to right, #d49e1f, #534215);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blogsss .btn .btn1 p::after {
  content: '\f105';
  font-family: fontAwesome;
  font-size: .9vw;
  font-weight: 300;
  padding-left: .6vw;
}

.footer {
  height: 100vh;
  background-color: #000000;
  font-family: Titillium Web, sans-serif;
  scroll-snap-align: center;
}

.footer-main {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85vh;
}

.footer-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 15.42vw;
  margin-top: 14vw;
  font-size: 3.75vw;
  font-weight: 300;
  line-height: 1.11;
}

.footer-nav-items {
  margin-top: 14vw;
  margin-left: 10vw;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.04vw;
  line-height: 2;
}

.footer-nav-items a {
  color: #ffffff;
}

.footer-nav-items a:hover {
  text-decoration: none;
  color: #d49e1f;
}

.vertical-line {
  margin-top: .7vw;
  border-left: 0.1px solid #ffffff;
  border-radius: 1px;
  height: 8vw;
}

.copyright {
  color: #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: auto;
  font-size: 1.04vw;
  line-height: 1.8;
}

.copyright-2019 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.policy {
  -webkit-box-flex: .4;
      -ms-flex: .4;
          flex: .4;
  text-align: right;
}

.disclaimer {
  -webkit-box-flex: .4;
      -ms-flex: .4;
          flex: .4;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .footer {
    height: 217.6vw;
    background-color: #000000;
    font-family: Titillium Web, sans-serif;
    font-weight: 300;
  }
  .footer-main {
    color: #ffffff;
    display: block;
    height: 176vw;
  }
  .footer-title {
    margin-left: 11.47vw;
    padding-top: 22.93vw;
    font-size: 11.2vw;
    line-height: 1.31;
  }
  .footer-nav-items {
    margin-left: 11.47vw;
    margin-top: 22.93vw;
    font-size: 3.73vw;
    line-height: 2.14;
  }
  .footer-nav-items a {
    color: #ffffff;
  }
  .vertical-line {
    margin-top: 2vw;
    border-left: 0.1px solid #ffffff;
    border-radius: 1px;
    height: 30vw;
  }
  .copyright {
    color: #dbdbdb;
    display: block;
    font-size: 1.04vw;
    margin: 0;
  }
  .copyright .tAndC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3.2vw;
    line-height: 2.4;
    margin-left: -5vw;
  }
  .copyright .copyright-2019 {
    margin-left: 11.47vw;
    font-size: 2.67vw;
    line-height: 2.88;
  }
}

@media only screen and (min-width: 768px) {
  .content-mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .content-desktop {
    display: none;
  }
  .content-mobile {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */